<!DOCTYPE html>
<html>
<head></head>
<body style="background-color:black;">
<div align="center" style="padding-top: 100px;">
<img align="center" alt="Todo Manager Logo" border="0" class="center autowidth" src="https://i.imgur.com/5vut1a3.png" style="border: 0; height: auto; width: 100%; max-width: 214px; display: block; title="Todo Manager Logo" width="214"/>
</div>
<div>
<div align="center" style="margin: 30px; min-height: 350px;" >
<p style="color:white; font-size: 36px;">Dear <%= @user.name %></p>
<p style="color:white; font-size: 16px;">You have requested to reset your password. Below is your password reset token:</p>
<p style="color:cyan; font-size: 16px;"><%= @user.reset_password_token %></p>
<p style="color:white; font-size: 16px;">If this was not done by you and you believe your account has been compromised, please change your password at your <a href="https://todo-manager.tjtanjin.com/profile">profile</a>.</p>
</div>
<footer style="background-color: white; height: 120px; text-align: center; padding-top: 20px">
<a href="https://github.com/tjtanjin/CVWO-assignment" target="_blank"><img alt="Github Logo" height="32" class="center autowidth" src="https://i.imgur.com/6JjO3tc.png" style="height: auto; border: none; display: block; display: block; margin-left: auto; margin-right: auto; title="Github Logo" width="32"/></a>
<p style="color: #808080; font-size: 14px;">© Todo Manager Copyright 2020</p>
</footer>
</body>
</html>